
<div class="account-pages my-5 pt-sm-5" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            <br>
              <div class="text-center">
                <h4> Mettez à jour votre mot de passe.     </h4>
              </div>
              <br>
              <br>
            <div class="card-body pt-0">

              <form class="needs-validation" name="resetPasswordForm" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" novalidate>
  
                <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
  
                <div class="mb-3">
                  <label for="newPassword">Nouveau mot de passe </label>
  
                  <input type="password" formControlName="newPassword" class="form-control"  id="newPassword" placeholder="Entrez votre mot de passe"
                  [class.is-invalid]="isControlInvalid('newPassword')" [class.is-valid]="isControlValid('newPassword')"
                  [ngStyle]="{ 'border-color': isControlValid('newPassword') && isControlTouched('newPassword') ? '#259bed' : isControlInvalid('newPassword') ? 'red' : '' }" />
                  <div *ngIf="resetPasswordForm.controls['newPassword']?.errors?.required && resetPasswordForm.controls['newPassword'].touched" 
                      class="form-text text-danger text-warning" [ngClass]="'error'" style="font-weight: bold;">
                      Mot de passe est requise. 
                  </div>
                </div>
                <br>
                <div class="mb-3">
                    <label for="confirmPassword">Confirmez le nouveau mot de passe </label>
    
                    <input type="password" formControlName="confirmPassword" class="form-control"  id="confirmPassword" placeholder="Entrez votre mot de passe"
                    [class.is-invalid]="isControlInvalid('confirmPassword')" [class.is-valid]="isControlValid('confirmPassword')"
                    [ngStyle]="{ 'border-color': isControlValid('confirmPassword') && isControlTouched('confirmPassword') ? '#259bed' : isControlInvalid('confirmPassword') ? 'red' : '' }" />
                    <div *ngIf="resetPasswordForm.controls['confirmPassword']?.errors?.required && resetPasswordForm.controls['confirmPassword'].touched" 
                        class="form-text text-danger text-warning" [ngClass]="'error'" style="font-weight: bold;">
                        confirm mot de passe est requise. 
                    </div>
                    <div *ngIf="resetPasswordForm.hasError('passwordMismatch') && resetPasswordForm.controls['confirmPassword'].dirty" 
                          class="form-text text-danger text-warning" [ngClass]="'error'" style="font-weight: bold;">
                         La confirmation du mot de passe est incorrecte.
                    </div>
                </div>
                  <br>    
                <div class="text-center">
                  <button class="btn btn-save w-md" type="submit">Mettre à jour le mot de passe</button>
                </div>
              </form>
  
            </div> <!-- end card-body-->
          </div>
          <br>
  
        </div> <!-- end col -->
      </div>  
      <!-- end row -->
    </div>
    <!-- end container -->
</div>
