
 
 <!--
 <div class="success-message-panel" >
    <div class="success-icon">&#10004;</div>
    <div class="success-message">Veuillez vérifier votre e-mail et sélectionner le lien fourni pour vérifier votre adresse.
    </div>
</div>
 -->


<div class="email" >
    <div class="col-xl-4">
      <div class="card">
          <div class="card-body">  
              <div class="text-center">
                  <div class="mb-4">
                      <img src="assets/images/email.png" alt="" class="img-fluid" width="100">
                  </div>
                  <h4 class="card-title mb-4">Vérifiez votre adresse e-mail pour continuer</h4> 
                  <p>Nous venons d'envoyer un e-mail à l'adresse :</p> <h4 class="card-title mb-4"  >{{userEmail}}</h4>
                   <p> Veuillez vérifier votre messagerie et sélectionner le lien fourni pour confirmer votre adresse.</p>
              </div>
          </div>
      </div>
    </div>
  </div>